            body{
                background-color: #f2f2f7;
                font-family: Arial, sans-serif;
                text-align: center;
                margin-top: 50px;
            }
            #properties{
                margin-bottom: 20px;
            }
            #outputcontainer{
                margin-top: 20px;
                font-weight: bold;
            }
            input[type="number"]{
                width: 50px;
            }
            p{
                color: red;
            }
            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                background-color: #f1f1f1;
                text-align: center;
                padding: 10px 0;
                font-size: 14px;
                color: #555;
            }
            #but {
                margin-top: 10px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
            }
            #copy {
                margin-left: 10px;
                padding: 5px 10px;
                font-size: 14px;
                cursor: pointer;
            }